[Desktop Entry]
Type=Application
Name=Yunee
GenericName=Canvas Client
Comment=A better Canvas client for GNOME
Exec=yunee
Icon=io.github.LyKhoris.Yunee
Terminal=false
Categories=Network;Education;
Keywords=Canvas;LMS;Courses;Assignments;Grades;School;University;
StartupNotify=true
StartupWMClass=io.github.LyKhoris.Yunee
